<!-- <html><head>
<title onkeyup="insert()"></title>
</head><body>

<input id="title" type="text" maxlength="4"  onkeyup="Allow()" >
<input type="submit" value="Save/Show" onclick="insert()" />
<div id="display"></div>


<script type="text/javascript">
var titles  = [];
var titleInput  = document.getElementById("title");
var messageBox  = document.getElementById("display");

function Allow(){
    if (!user.title.value.match(/[a-zA-Z]$/) && user.title.value !="") {
        user.title.value="";
        alert("Please Enter only alphabets");
    }
}

function insert () {
    titles.push(titleInput.value);
    clearAndShow();
}

function clearAndShow () {
    titleInput.value = "";
    messageBox.innerHTML = "";
    messageBox.innerHTML += "Titles: " + titles.join(", ") + "<br/>";
}
</script>
</body>

</html> -->
<html>
    <head>
        <title>APP Download</title>
    </head>
 <body>
     <h1>APP DOWNLOAD</h1>
    <hr>
    <h2><font color="green">RISHABH Search Engine Free Download</font></h2><h4><A href="RISHABH_14521061.apk" download>Click To Download</A></h4>
    <br>
    <hr>
    <h2><font color="green">RISHABH INSTA Free Download</font></h2><h4><A href="RISHABH INSTA_1_1.0.apk" download>Click To Download</A></h4>
    <br>
</body>
</html>    
